@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    vertical-align: bottom;
}

/* header */
header {
    display: flex;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
}

header img {
    width: 100px;
    height: 100px;
}

header li a {
    flex-direction: column;
    /*imgの下に文字がいく*/
    font-size: 13px;
    text-align: center;
}

header ul {
    list-style: none;
    display: flex;
    gap: 10px;
    /* li 同士の間隔 */
}

header li a {
    display: flex;
    /* アイコンと文字を横並び */
    align-items: center;
    /* 縦位置を中央に */
    gap: 10px;
    /* アイコンと文字の間隔 */
    text-decoration: none;
    color: inherit;
}

header li a i {
    font-size: 20px;
}

header form {
    display: none;
}

header li+li {
    margin-left: 14px;
}

header input,
header button {
    all: unset;
    /* ボタンを完全にリセット */
}

header input {
    border-bottom: 1px solid #aaa;
    padding: 4px;
    width: 300px;
}

header button {
    cursor: pointer;
}

/* large screen */
.hero {
    width: 100%;
    height: 50vw;
    max-height: 400px;
    margin: 0 auto;
    /* 中央寄せ */
    position: relative;
    /* 子要素の絶対配置の基準にする */
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    /*********写真全てが全てが重なる！！！！***/
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.hero img.current {
    opacity: 1;
    z-index: 1;
    /* 表に出す */
}



/* main */
.items {
    padding: 40px;
}

.items h1 {
    font-weight: bold;
    font-size: 24px;
    margin: 0px 0 15px;
}

.items ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 横4列 */
    gap: 10px;
    /* 各アイテムの間隔 */
}

.items li {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.items ul h2 {
    font-weight: normal;
    font-size: 18px;
}

.items li h2,
.items li p{
    text-align: left;
    margin: 0 0 0 30px;
}

.items img {
    width: 190px;
    height: 120px;
}

.button a {
    display: block;
    /* 幅や高さを効かせる */
    border: 2px solid black;
    text-align: center;
    margin: 50px auto;
    width: 400px;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    text-decoration: none;
    /* 下線を消す */
    color: black;
}


/* footer */
footer {
    background-color: gray;
    height: 80px;
    line-height: 80px;
    text-align: center;
}


button {
    width: 300px;
    padding: 8px 16px;
    position: fixed;
    right: 32px;
    bottom: 32px;
}

.message {
    width: 200px;
    background: black;
    color: white;
    padding: 8px 16px;

    position: fixed;
    right: 32px;
    /* 右側に配置 */
    bottom: 32px;
    /* 下に配置 */

    animation: prop 2s forwards;
}

@keyframes prop {
    0% {
        transform: translateY(10px);
        opacity: 0;
        /* 最初と最後を０にすることによってふわっと出て消えるアニメーションになる */
    }

    20% {
        transform: none;
        opacity: 1;
    }

    80% {
        transform: none;
        opacity: 1;
    }

    100% {
        transform: translateY(10px);
        opacity: 0;
        pointer-events: none;
        /* buttonとdivの要素が被っており消えた要素の上からbuttonの要素を活用できる */
    }

}

/* large screen */
@media (min-width: 800px) {
    .container {
        width: calc(100% - 32px);
        margin: 0 auto;
        max-width: 800px;
    }

    header form {
        display: block;
    }
}